.Favorites .favoritesHeader {
  background-color: #bcbcbc;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-family: "Russo One", sans-serif;
  padding: 5px 0px;
}

.Favorites .link:hover {
  color: #3db804;
}
