.Header {
  background-color: #bcbcbc;
  padding-bottom: 10px;
}

.Header .title-div {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.Header .list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-family: "Russo One", sans-serif;
}

.Header .nav-links {
  color: #302a6d;
}

.Header .title {
  margin: 0;
  font-family: "Russo One", sans-serif;
  color: #302a6d;
  font-size: 47pt;
}

.Header .white {
  color: white;
}

.Header .logo {
  width: 65px;
  height: 65px;
  color: white;
}

.Header .discover {
  font-family: "Russo One", sans-serif;
  color: #302a6d;
  font-size: 16px;
  text-decoration: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.Header .nav-links:hover {
  color: #3db804;
}

.Header .discover:hover {
  color: #3db804;
}

@media screen and (min-width: 768px) {
  .Header .title {
    font-size: 67pt;
  }
  .Header .logo {
    width: 100px;
    height: 100px;
    color: white;
  }

  .Header .title-div {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .Header .list {
    font-size: 30px;
  }

  .Header .discover {
    font-size: 30px;
  }
}
