.Result .color {
  color: red;
}

.Result .green {
  color: #3db804;
}

.Result .fas {
  font-size: 20px;
  /* text-shadow: 0px 0px 2px black; */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.Result .fav-button {
  text-decoration: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.Result {
  position: relative;
  width: 90%;
  margin-top: 20px;
  color: #302a6d;
  /* border: 2px solid black; */
}

.Result .backdrop {
  width: 100%;
}

.Result .info {
  position: absolute;
  bottom: 4px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Result .result-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: right;
}

@media screen and (min-width: 768px) {
  .Result {
    position: relative;
    width: 40%;
    margin-top: 20px;
    color: #302a6d;
    /* border: 2px solid black; */
  }
}